.container {
  display: flex;
  /* align-items: center; */
}

.container.column {
  flex-direction: column;
}

.container.row {
  flex-direction: row;
}
.container.rowReverse {
  flex-direction: row-reverse;
}
.container.columnReverse {
  flex-direction: column-reverse;
}

.hidden {
  display: none;
}

p {
  margin: 5px;
  font-size: 14px;
}
h3 {
  margin: 20px 0;
  font-size: 24px;
}
h5 {
  margin: 5px;
  font-size: 14px;
}
input,
select {
  margin: 5px !important;
}

input[type="checkbox"] {
  margin: 5px 0;
}

.add-rule-row {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.nav {
  padding: 20px;
}

.nav-item {
  margin: 5px;
}

.input-container {
  margin: 5px;
}

.parsimony-btn {
  margin: 0 5px !important;
}

.full-height {
  min-height: 100%;
}

.chat-container {
  min-height: 100%;
}

.message-container {
  width: auto;
  color: #eee;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
}

.messager {
  position: relative;
  min-height: 100%;
}
.message-container.sent-by-current-user .message-bubble {
  background-color: #1976d2;
  margin-right: 0;
  margin-left: auto;
}

.message-bubble {
  border-radius: 20px;
  max-width: 85%;
  background-color: grey;
  display: flex;
  margin: 8px 0;
}

.message {
  width: 80%;
  align-self: flex-end;
}

.message p {
  margin: 10px;
  word-wrap: break-word;
}

hr {
  background: "black";
}

.chatMessageInput-container {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
}

.chatMessageInput {
  width: 100%;
  resize: none;
}

.messages-container {
  max-height: 600px;
  height: 100%;
  min-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.overflow-container {
  overflow: auto;
  width: 100%;
  align-self: flex-end;
}
