.container {
  display: flex;
  /* align-items: center; */
}

.container.column {
  flex-direction: column;
}

.container.row {
  flex-direction: row;
}
.container.rowReverse {
  flex-direction: row-reverse;
}
.container.columnReverse {
  flex-direction: column-reverse;
}

.hidden {
  display: none;
}

p {
  margin: 5px;
  font-size: 14px;
}
h3 {
  margin: 20px 0;
  font-size: 24px;
}
h5 {
  margin: 5px;
  font-size: 14px;
}
input {
  margin: 5px !important;
}

input[type="checkbox"] {
  margin: 5px 0;
}

.add-rule-row {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.nav {
  padding: 20px;
}

.nav-item {
  margin: 5px;
}
